Repository elisamunoz/eli-portfolio, pull requests merged in 2020-11, with the labels that each got.

#10 React update
  src/assets/img/home.jpg
  src/assets/styles/abstract/mixins.scss
  src/assets/styles/abstract/variables.scss
  src/assets/styles/index.scss
  src/pages/home/about/About.js
  src/pages/home/about/About.module.scss
  src/pages/home/contact/Contact.js
  src/pages/home/contact/Contact.module.scss
  src/pages/home/home/Home.js
  src/pages/home/home/Home.module.scss
  src/pages/home/portfolio/Portfolio.js
  src/pages/home/portfolio/Portfolio.module.scss
  src/pages/projects/birdsongs/PageBirdsongs.js
  src/pages/projects/birdsongs/PageBirdsongs.module.scss
  src/pages/projects/catcus/PageCatcus.js
  src/pages/projects/huemul/PageHuemul.js
  src/pages/projects/stitchpirations/PageStitchpirations.js
  src/ui/components/A/A.js
  src/ui/components/A/A.module.scss
  src/ui/components/A/index.js
  src/ui/components/Article/Article.js
  src/ui/components/Article/Article.module.scss
  src/ui/components/Button/Button.module.scss
  src/ui/components/Card/Card.Group.js
  src/ui/components/Card/Card.js
  src/ui/components/Card/Card.module.scss
  src/ui/components/Card/Readme.md
  src/ui/components/Card/index.js
  src/ui/components/Landpage/Landpage.js
  src/ui/components/Landpage/Landpage.module.scss
  src/ui/components/Landpage/index.js
  src/ui/components/Link/Link.js
  src/ui/components/Link/Link.module.scss
  src/ui/components/Link/index.js
  src/ui/components/List/List.module.scss
  src/ui/components/Section/Section.js
  src/ui/components/Section/Section.module.scss
  src/ui/layout/Sidebar/Sidebar.js
  src/ui/layout/Sidebar/Sidebar.scss
Labels: components 📦, fe, fee, frontend, source

#12 Feature/form components
  .github/labeler.yml
  package-lock.json
  package.json
  src/assets/styles/abstract/mixins.scss
  src/ui/components/Link/Readme.md
  src/ui/components/formComponents/Field/Field.js
  src/ui/components/formComponents/Field/index.js
  src/ui/components/formComponents/FieldWrapper/FieldWrapper.js
  src/ui/components/formComponents/FieldWrapper/FieldWrapper.module.scss
  src/ui/components/formComponents/FieldWrapper/index.js
  src/ui/components/formComponents/Form/Form.js
  src/ui/components/formComponents/Form/Readme.md
  src/ui/components/formComponents/Form/index.js
  src/ui/components/formComponents/InputText/InputText.js
  src/ui/components/formComponents/InputText/InputText.module.scss
  src/ui/components/formComponents/InputText/index.js
  src/ui/components/formComponents/Label/Label.js
  src/ui/components/formComponents/Label/Readme.md
  src/ui/components/formComponents/Label/index.js
  src/ui/components/formComponents/Textarea/Textarea.js
  src/ui/components/formComponents/Textarea/Textarea.module.scss
  src/ui/components/formComponents/Textarea/index.js
  src/ui/components/formComponents/index.js
  styleguide.config.js
Labels: components 📦, frontend, source, styles 🦋

#13 changes styles
  src/assets/img/about.jpg
  src/assets/img/home.jpg
  src/assets/img/llama.jpg
  src/assets/styles/abstract/variables.scss
  src/assets/styles/index.scss
  src/pages/home/about/About.js
  src/pages/home/about/About.module.scss
  src/pages/home/contact/Contact.js
  src/pages/home/contact/Contact.module.scss
  src/pages/home/home/Home.js
  src/pages/home/home/Home.module.scss
  src/pages/home/portfolio/Portfolio.js
  src/pages/home/portfolio/Portfolio.module.scss
  src/ui/components/Button/Button.js
  src/ui/components/Button/Button.module.scss
  src/ui/components/Button/Readme.md
  src/ui/components/Card/Card.module.scss
  src/ui/components/Landpage/Landpage.js
  src/ui/components/Landpage/Landpage.module.scss
  src/ui/components/Section/Section.js
  src/ui/components/Section/Section.module.scss
  src/ui/components/formComponents/FieldWrapper/FieldWrapper.module.scss
  src/ui/layout/Sidebar/Sidebar.scss
Labels: components 📦, fe, fee, frontend, source, styles 🦋

#15 Feature/add jsform com implementation
  package.json
  src/assets/styles/abstract/variables.scss
  src/const.js
  src/hooks/useMail.js
  src/pages/home/contact/Contact.js
  src/pages/home/contact/Contact.module.scss
  src/pages/home/contact/ContactForm.js
  src/ui/components/Button/Button.js
  src/ui/components/formComponents/Form/Form.js
  src/ui/components/formComponents/InputText/InputText.js
  src/ui/components/formComponents/Textarea/Textarea.js
Labels: components 📦, frontend, source, styles 🦋

#16 Feature/add jsform com implementation
  .env.template
  .gitignore
  src/const.js
Labels: frontend, source

#17 Revert "Feature/add jsform com implementation"
  .env.template
  .gitignore
  src/const.js
Labels: frontend, source

#14 Components/link text
  src/assets/styles/abstract/mixins.scss
  src/assets/styles/abstract/variables.scss
  src/pages/home/home/Home.js
  src/pages/home/home/Home.module.scss
  src/pages/projects/birdsongs/PageBirdsongs.js
  src/pages/projects/catcus/PageCatcus.js
  src/pages/projects/huemul/PageHuemul.js
  src/pages/projects/stitchpirations/PageStitchpirations.js
  src/ui/components/Link/Readme.md
  src/ui/components/LinkText/LinkText.js
  src/ui/components/LinkText/LinkText.module.scss
  src/ui/components/LinkText/Readme.md
  src/ui/components/LinkText/index.js
  src/ui/components/List/List.js
  src/ui/components/List/List.module.scss
  src/ui/components/List/ListItem.js
  src/ui/components/List/Readme.md
Labels: components 📦, frontend, source, styles 🦋

#18 React
  src/assets/ElisaCV.pdf
  src/pages/home/home/Home.js
  src/pages/projects/huemul/PageHuemul.js
  src/ui/components/A/A.js
  src/ui/components/LinkText/LinkText.js
Labels: components 📦, frontend, source

#19 React
  public/index.html
  public/llama_icon.png
  src/assets/img/llama.gif
  src/assets/styles/abstract/mixins.scss
  src/assets/styles/abstract/variables.scss
  src/assets/styles/index.scss
  src/pages/home/about/About.js
  src/pages/home/contact/Contact.module.scss
  src/pages/home/contact/ContactForm.js
  src/pages/home/portfolio/Portfolio.js
  src/pages/home/portfolio/Portfolio.module.scss
  src/pages/home/portfolio/llama.gif
  src/pages/projects/huemul/PageHuemul.js
  src/ui/components/Card/Card.module.scss
  src/ui/components/Landpage/Landpage.module.scss
  src/ui/components/Section/Section.module.scss
  src/ui/layout/Sidebar/Sidebar.js
  src/ui/layout/Sidebar/Sidebar.scss
Labels: components 📦, frontend, source, styles 🦋

#20 scroll to top on new page load
  src/pages/projects/ProjectDetailView.js
  src/pages/projects/birdsongs/PageBirdsongs.js
  src/pages/projects/catcus/PageCatcus.js
  src/pages/projects/huemul/PageHuemul.js
  src/pages/projects/stitchpirations/PageStitchpirations.js
Labels: frontend, source

#21 React
  src/assets/img/demo/demo.jpg
  src/pages/home/about/About.js
  src/pages/home/contact/Contact.module.scss
  src/ui/components/A/A.js
  src/ui/components/A/Readme.md
  src/ui/components/Article/Article.js
  src/ui/components/Article/Readme.md
  src/ui/components/Avatar/Avatar.js
  src/ui/components/Avatar/Avatar.module.scss
  src/ui/components/Avatar/Readme.md
  src/ui/components/Button/Button.js
  src/ui/components/Landpage/Landpage.js
  src/ui/components/Landpage/Readme.md
  src/ui/components/List/List.js
  src/ui/components/List/ListItem.js
  src/ui/components/Section/Readme.md
  src/ui/components/Section/Section.js
  src/ui/components/Section/Section.module.scss
  src/ui/layout/Sidebar/Sidebar.js
Labels: components 📦, frontend, source, styles 🦋
